rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Seuls les utilisateurs authentifiés peuvent lire
      allow read: if request.auth != null;
      
      // Seuls les utilisateurs authentifiés peuvent écrire, et la taille du fichier doit être inférieure à 5 Mo
      allow write: if request.auth != null && request.resource.size < 5 * 1024 * 1024;
    }
  }
}
